body{
    margin: 0;
    user-select: none;
}
.center{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.itens{
    height: 75%;
}
.auto label{
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
    color: rgb(75, 75, 75);
    background-color: rgb(239, 239, 239);
    padding-inline: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.auto input[type="button"], input[type="submit"], input[type="file"]{
    display: none;
}
.auto input[type="text"]{
    height: 30px;
    font-size: 25px;
    font-family: arial;
    border: none;
    background-color: rgb(239, 239, 239);
    outline: none;
}